/* Mobile First */

:root {
  --background-color: #fafafa;
  --text-color: rgb(40, 40, 40);
  --header-background: rgb(16, 16, 16);
  --image-color-second: rgb(49, 3, 53);
  --footer-background: rgba(30, 30, 30, 0.8);
  --footer-text-color: rgb(230, 230, 230);
  --main-color: #1abc9c;

  --christmas-color-green: #0f8a5f;
  --christmas-color-lightgreen: #34a65f;
  --christmas-color-red-1: #ce2621;
  --christmas-color-red-2: #e24b46;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--text-color);
}
body {
  min-height: 100vh;
  max-width: 100vw;
  background: var(--background-color);
}

/* header section */

header {
  width: 100%;
  height: 7vh;
  /* background: var(--header-background); */
  background: linear-gradient(
    45deg,
    var(--christmas-color-red-1),
    var(--christmas-color-red-2)
  );
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; /* In order to show up the menu section */
}

header .header-section {
  position: relative;
  height: 100%;
  width: 100%;
} /*You can delete this later*/

header .header-section .title {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

header .header-section .title .avalanche a {
  /* color: white; */
  color: var(--christmas-color-lightgreen);
  font-family: "Berkshire Swash", cursive;
}

/* Menu Section */
.menu .menu-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.menu .menu-ul li {
  margin: 30px;
}
.menu .menu-ul li a {
  color: #fff;
  font-size: 1.3rem;
  position: relative;
}

.menu .menu-ul li a:not(.current-page)::before,
.menu .menu-ul li a:not(.current-page)::after {
  content: "";
  height: 2.5px;
  width: 100%;
  background: linear-gradient(to right, #1abc9c, #04fa41);
  position: absolute;
  left: 0;
  transition: transform 0.15s ease;
  transform: scaleX(0);
}

.menu .menu-ul li a::after {
  bottom: 0;
  transform-origin: left;
}
.menu .menu-ul li a::before {
  top: 0;
  transform-origin: right;
}

.menu .menu-ul li a:hover::before,
.menu .menu-ul li a:hover::after {
  transform: scaleX(1);
}

.menu .menu-ul li .current-page {
  color: var(--christmas-color-red-1); /*changeable */
}

/* -----------------------------
          Hamburger
----------------------------- */

.hamburger-background {
  width: 6vh; /* Responsive */
  height: 6vh;
  background: transparent;
  cursor: pointer;
  pointer-events: all;
  z-index: 10; /* This is necessary. */

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;

  margin: 4px;
  padding: 2px;
}
.line {
  background: white;
  height: 3px;
  width: 95%;
  z-index: 10;

  transition: all 0.3s ease-out;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(11, 196, 73, 0.7); /* changeable */
  height: 100vh;
  width: 50%;
  z-index: 3;

  position: fixed;
  top: 0;
  right: -50%;
  border-radius: 10% 0 0 10%;

  transition: all 0.3s ease-out;
}
.click .menu {
  right: 0;
}

.click .hamburger-background .line1 {
  transform: rotate(45deg) translateX(2px);
  transform-origin: 0 0;
}
.click .hamburger-background .line2 {
  opacity: 0;
}
.click .hamburger-background .line3 {
  transform: rotate(-45deg) translateX(-2px);
  transform-origin: 0 0;
}

.whole-page {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed; /* This is really important. */
}
.transparent {
  background: rgba(230, 220, 220, 0.3);
  pointer-events: all;
  z-index: 0; /* It's working! */
}

/* ----------------------------------------------
-----------  Main Section -----------------------
------------------------------------------------*/

.image-slides {
  margin-top: 7vh;
  background: linear-gradient(45deg, var(--main-color), #149279);
  width: 100%;
  height: 28vh;

  position: relative;
  z-index: -1;
}

.image-slides .img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;

  overflow: hidden;

  z-index: -1;
}

.news {
  font-size: 1.7rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: calc(1rem - 7px);
}

.sub-title {
  text-align: left;
  text-decoration: underline;
  margin-top: 30px;
  margin-left: 10px;
  font-weight: bolder;
  font-size: larger;
}
.sub-title-1 {
  margin-top: 0;
}
.sub-title a {
  color: #37a9f5;
}

.article {
  margin-left: 30px;
  margin-right: 10px;
  white-space: pre-line;
}

.article .emphasis {
  color: var(--image-color-second) /*rgb(187, 8, 8); */;
  font-size: larger;
}

.information-page {
  text-decoration: underline;
  color: #37a9f5;
}

.main-article-section .article-ul {
  margin-left: calc(30px + 1rem);
  margin-right: 10px;
}

.toPageTop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: var(--main-color);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  cursor: pointer;
  z-index: 10;
  pointer-events: none;
  display: none;
}

.show.toPageTop {
  display: block;
  pointer-events: all;
}

.toPageTop .fas {
  color: #fafafa;
  height: 3rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------------------
---------------   footer  ---------------
----------------------------------------*/

footer {
  background: var(--footer-background);
  width: 100vw;
  height: 15vh;
  margin-top: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer .bottom-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer .bottom-box .bottom-box-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .bottom-box .bottom-box-ul li {
  margin: 0 20px 0 20px;
}

footer .bottom-box .bottom-box-ul li a {
  color: var(--footer-text-color);
}

footer .bottom-box .bottom-box-ul-first {
  width: 100%;
}
footer .bottom-box .bottom-box-ul-second {
  justify-content: space-around;
}

.fab {
  color: var(--footer-text-color);
}
.fab:hover {
  color: #1abc9c;
}

.footer-pages:hover {
  text-decoration: underline;
}

/* Christmas */

i#christmas {
  font-size: 1.7rem;
  position: absolute;
  left: 20%;
  animation: snowman 1.5s linear infinite forwards;
  z-index: -1;
}

.flake {
  position: absolute;
  z-index: -1;
  left: 10%;
  animation: fall 3s linear forwards;
  color: white;
  font-size: 0.75rem;
}

@keyframes snowman {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes fall {
  0% {
    top: 0px;
  }
  100% {
    top: calc(100% - 0.75rem);
  }
}

/* End */

/* Responsive */
@media (min-width: 600px) {
  body {
    display: flex;
  }

  /* Header Section */
  .hamburger-background,
  .line {
    display: none;
  }

  header {
    height: 10vh;
  }
  .header-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
  header .header-section .title {
    width: auto;
  }

  .menu {
    border-radius: unset;
    background: transparent;
    height: 10vh;
    width: auto;

    position: unset;
  }
  .menu .menu-ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .menu .menu-ul li .current-page {
    color: #646464;
  }
  .menu .menu-ul li a {
    font-size: smaller;
  }

  /* Main Section */
  main {
    width: 80vw !important;
    margin-bottom: 2rem !important;
  }

  .image-slides {
    margin-top: 10vh;
    height: 65vh;
    width: 100%;
  }
  .image-slides .img {
    width: 100%;
    height: 95%;
  }

  .news {
    margin-top: 1rem;
  }

  /* Footer */
  footer {
    width: 20vw;
    height: 90vh;
    background: #fafafa;
    border-right: 2px #484b49 solid;
    border-left: 2px #484b49 solid;
    margin-top: 10vh;
    position: fixed !important;
    top: 0;
    left: unset;
    right: 0;
  }

  footer .bottom-box {
    flex-direction: column-reverse;
  }

  footer .bottom-box .bottom-box-ul-first {
    width: 95%;
  }

  footer .bottom-box-ul-second {
    flex-direction: column;
  }

  footer .bottom-box .bottom-box-ul li {
    margin: 0 12px 0 12px;
  }

  footer .bottom-box .bottom-box-ul-second li {
    margin: 10px 0;
  }

  footer .bottom-box .bottom-box-ul li a,
  .fab {
    color: var(--text-color);
  }
}
